django >= 1.8, < 1.9
django-allauth
pillow
django-friendship
djangorestframework
django-markdown-deux
docutils
djangorestframework-jwt
whitenoise
wsgiref==0.1.2
gunicorn
requests
dj-static==0.0.6
dj-database-url
static3==0.6.1
wheel==0.24.0
