<h2>In socialdistribution/posts/templates/posts/detail.html</h2>
{% block content %}
    <div class="post">
    <!-- post.xxx is in models.py -->
        {% if post.pub_date %}
            <div class="date">
                {{ post.pub_date }}
            </div>
        {% endif %}
		<p>{{ post.post_text|urlize|linebreaks }}</p>
		<p>{{ post.get_privacy_display }}</p>

		<p>login as: {{ user.username }}</p>
		<p>author: {{ post.author}}</p>


		<button type=button id = "check_edit" name = {{post.author}} value = {{user.username}} onclick="check_edit();">Edit</button>

		<button type=button id = "check_delete" name = {{post.author}} value = {{user.username}} onclick="check_delete();">Delete</button>

		<button type=button id = "add_comment" onclick="addComment();">Add Comment</button>

		<script>
		function check_edit() {
			var author_name = document.getElementById("check_edit").name;
			var poster_name = document.getElementById("check_edit").value;
			if (author_name === poster_name) {
				next();
			} else {
				alert("you are not allowed to modify this post!")
			}
		}

		function check_delete() {
			var author_name = document.getElementById("check_delete").name;
			var poster_name = document.getElementById("check_delete").value;
			if (author_name === poster_name) {
				next();
			} else {
				alert("you are not allowed to modify this post!")
			}
		}

		function addComment() {
			alert("We will do this later."); 
		}

		function edit(){
			var n = 0;
			var flip = function(){
				if(n % 2){
					document.getElementById('edit').style.display="none";	
				}
				else{
					document.getElementById('edit').style.display="block";	
				}
				++n;
			}
			return flip;
		}
		var next = edit();
		</script>

		<div id="edit" style="display: none;">
			<h1>New Content</h1>
			<h2>In socialdistribution/posts/templates/posts/detail.html</h2>
			<form method="POST" class="post-form">{% csrf_token %}
				{{ form.as_p }}
				{{ form.get_privacy_display}}
				<button type="submit" value="save">Save</button>
			</form>
		</div>
    </div>
{% endblock %}

	
