{% block content %}
    <div class="post">
        {% if post.pub_date %}
            <div class="date">
                {{ post.pub_date }}
            </div>
		{% endif %}
		<p>{{ post.post_text|urlize|linebreaks }}</p>
		<p>{{ post.get_privacy_display }}</p>
    </div>

	<div class="comments">
		{% for comment in comments %}
			<p>{{ comment.comment_text|urlize|linebreaks }}</p>
		{% endfor %}
	</div>

	<button type=button id = "check_edit" name = {{post.author}} value = {{user.username}} onclick="check_edit();">Edit</button>

	<button type=button id = "check_delete" name = {{post.author}} value = {{user.username}} onclick="check_delete();">Delete</button>

	<button type=button id = f2 onclick="nextC();">Comment</button>

	<script>
	function check_edit() {
		var author_name = document.getElementById("check_edit").name;
		var poster_name = document.getElementById("check_edit").value;
		if (author_name === poster_name) {
			nextE();
		} else {
			alert("you are not allowed to modify this post!")
		}
	}

	function check_delete() {
		var author_name = document.getElementById("check_delete").name;
		var poster_name = document.getElementById("check_delete").value;
		if (author_name === poster_name) {
			nextE();
		} else {
			alert("you are not allowed to modify this post!")
		}
	}



	function edit(){
		var n = 0;
		var flip = function(){
			if(n % 2){
				document.getElementById('edit').style.display="none";	
			}
			else{
				document.getElementById('edit').style.display="block";	
			}
			++n;
		}
		return flip;
	}

	function comment(){
		var n = 0;
		var flip = function(){
			if(n % 2){
				document.getElementById('comment').style.display="none";	
			}
			else{
				document.getElementById('comment').style.display="block";	
			}
			++n;
		}
		return flip;
	}

	var nextE = edit();
	var nextC = comment();
	</script>

	<div id="edit" style="display: none;">
		<h1>New Content</h1>
		<form method="POST" class="post-form">{% csrf_token %}
			{{ form.as_p }}
			{{ form.get_privacy_display}}
			<input type="hidden" name="formType" value="post"></input>
			<button type="submit" value="save">Save</button>
		</form>
	</div>
	<div id="comment" style="display: none;">
		<h1>New Comment</h1>
		<form method="POST" class="comment-form">{% csrf_token %}
			{{ cform.as_p }}
			<input type="hidden" name="formType" value="comment"></input>
			<button type="submit" value="save">Save</button>
		</form>
	</div>
{% endblock %}

	