{% extends 'posts/base.html' %}

{% block content1 %}

    {% block content %}
        <div class="modal-header">
            <h2>Add Image</h2>
        </div>


        <form method="POST" class="image-form" enctype="multipart/form-data">{% csrf_token %}
            <div class="modal-body">
                {{ form }}

            </div>
            <div class="modal-footer">
                <button class="btn btn-default" type="submit" value="save">Save</button>
            </div>
        </form>
    {% endblock %}

{% endblock %}