{% extends 'posts/base.html' %}

{% block content %}

    <form role="form" action="/posts/friend_mgmt/" method="POST">{% csrf_token %}
        <div class="modal-content">

            <div class="modal-header">
                <label>Choose someone to be friends with.</label>
            </div>

            <div class="modal-body">
		<p>{{ addform.add_username }}</p>
                <p>{{ add_msg }}</p>
            </div>

            <div class="modal-footer">
                <button type="submit" name="add_sub" class="btn btn-default">Add friend</button>
            </div>

        </div>
    </form>

    <br>

    <form role="form" action="/posts/friend_mgmt/" method="POST">{% csrf_token %}
        <div class="modal-content">

            <div class="modal-header">
                <p><label>Unfriend Someone</label></p>
            </div>

            <div class="modal-body">
		<p>You are currently a friend with:</p>
		{% if unfriendlist %}
		{% for friend in unfriendlist %}
		<p>{{friend}}
		    <input type="checkbox" name="remove" value={{friend}}>
		</p>
		{% endfor %}
		{% for error in unfriend_msg %}
		<p>{{ error }}</p>
		{% endfor %}
		{% else %}
		<p> No one :( </p>
		{% endif %}
            </div>

            <div class="modal-footer">
                <button type="submit" name="remove_sub" class="btn btn-default">Apply Changes</button>
            </div>

        </div>
    </form>


    {% if friendrequestform %}
        <br>
        <form role="form" action="/posts/friend_mgmt/" method="POST">{% csrf_token %}
            <div class="modal-content">

                <div class="modal-header">
                    <label>Friend Requests</label>
                </div>

                <div class="modal-body">
                    {{ friendrequestform }}
                </div>

                <div class="modal-footer">
                    <button type="submit" name="request_sub" class="btn btn-default">Apply Changes</button>
                </div>

            </div>
        </form>
    {% endif %}

{% endblock %}
