<form role="form" action="/posts/friend_mgnt/" method="POST">{% csrf_token %}
  <label>Choose someone to be friends with.</label>
  <p>{{ addform.user_choice_field }}</p>
  <p>{{ add_msg }}</p>
  <p><label>Unfriend Someone</label></p>
  <p>{{ unfrienduserform.username}}</p>
  <p>{{ unfriend_msg }}</p> 


  {{ requests }}

  
  <button type="submit" class="btn btn-default">Apply Changes</button>
</form>
<form action={% url 'posts:index' %} method="get">
		<button type="submit">Back</button>
</form>
