{% extends 'posts/base.html' %}

{% block content %}
{% load markdown_deux_tags %}
<p>THihsihsihihihsihsihih</p>
<form action = {% url 'posts:post_mgnt' %} method = "POST">{% csrf_token %}

<label>You want to delete multiple posts?</label>

<br><br>
{% if latest_post_list %}
<table >
{% for post in latest_post_list %}
	<tr>
		<td><input type="checkbox" name = "id" value = {{post.id}}></td>
        {% if post.contentType == 'text/plain' %}
	        <td><a href="{% url 'posts:detail' post.id %}">{{post.content|linebreaks}}</a></td>
        {% else %}
            <td><a href="{% url 'posts:detail' post.id %}">{{post.content|markdown}}</a></td>
        {% endif %}
    </tr>
    {% endfor %}
</table>


{% else %}
    <p>No posts are available!</p>
{% endif %}

	<br>

	<button type="submit" value = "confirm">Delete Selected Post</button>
</form>

<br><br>

<form action={% url 'posts:index' %} method="get">
		<button type="submit">Back</button>
</form>
{% endblock %}

{% comment %}
<form action = {% url 'posts:post_mgnt' %}  method="DELETE">
   <label for="since">Since</label>
   <input id="since" name="since" type="datetime"/>
   <button type="submit">Delete</button>
</form>
{% endcomment %}
