{% extends 'posts/base.html' %}

{% block content %}
{% load markdown_deux_tags %}
<form action = {% url 'posts:post_mgmt' %} method = "POST">{% csrf_token %}

<div class="modal-header">
  <h2>Post Management</h2>
</div>

<br>

{% if latest_post_list %}
<div class="modal-body">
<table class = "post">
{% for post in latest_post_list %}
	<tr>
		<td><input type="checkbox" name = "id" value = {{post.id}}></td>
    <td style="width:1em;"></td>
    {% if post.contentType == 'text/plain' %}
      <td class="post_title">
      <a href="{% url 'posts:detail' post.id %}">{{post.title|linebreaks}}</a>
      </td>
      <td style="width:0.5em;"></td>
      <td class="post_content"><p>{{post.content|markdown}}</p></td>
    {% else %}
      <td class="post_title">
      <a href="{% url 'posts:detail' post.id %}">{{post.title|linebreaks}}</a>
      </td>
      <td style="width:0.5em;"></td>
      <td class="post_content"><p>{{post.content|markdown}}</p></td>
    {% endif %}
  </tr>
{% endfor %}
</table>
</div>


{% else %}
<div class="modal-body">
    <p>No posts are available!</p>
</div>
{% endif %}

	<br>
<div class="modal-footer">
	<button class="btn btn-default" type="submit" value = "confirm">Delete Selected Post</button>
</div>
</form>

{% endblock %}

{% comment %}
<form action = {% url 'posts:post_mgmt' %}  method="DELETE">
   <label for="since">Since</label>
   <input id="since" name="since" type="datetime"/>
   <button type="submit">Delete</button>
</form>
{% endcomment %}
