<form action {% url 'posts:post_mgnt' %} method = "get">
<label>You want to delete or authorize posts?</label>
<br>

<select id = "selection">
  <option value="none">----------------</option>
  <option value="delete_posts">Delete Posts</option>
  <option value="authorize_posts">Authorize Posts</option>
</select>

<br><br>

{% if latest_post_list %}

<table sytle = "width:100%">
{% for post in latest_post_list %}
	<tr>
		<td><input type="checkbox" name = {{post.identity}} value = {{post.identity}}></td>
		<td><a href="{% url 'posts:detail' post.identity %}">{{post.content|linebreaks}}</a></td>
    </tr>
    {% endfor %}
</table>

{% else %}
    <p>No posts are available!</p>
{% endif %}

	<br>

	<button type="submit" value = "confirm" onclick="doa();">Confirm</button>
</form>

<br><br>

<form action={% url 'posts:index' %} method="get">
		<button type="submit">Back</button>
</form>

